<nav>
    <a href="" routerLink="parent" class="btn btn-outline-primary btn-sm me-2">Parent</a>&nbsp;

    <a href="" routerLink="databinding" class="btn btn-outline-secondary btn-sm  me-2">Data-binding</a>&nbsp;

    <a href="" routerLink="mypipe/:id" class="btn btn-outline-info btn-sm  me-2">My-pipe</a>&nbsp;

    <a href="" routerLink="angform" class="btn btn-outline-warning btn-sm  me-2">Angform</a>&nbsp;

    <a href="" routerLink="item" class="btn btn-outline-secondary btn-sm  me-2">Item</a>&nbsp;


    <a href="" routerLink="productDash" class="btn btn-outline-success btn-sm  me-2">Product Dash</a>&nbsp;

    <button (click)="logout()" class="btn btn-outline-danger btn-sm  me-2 logout">Logout</button>&nbsp;
    <!-- <a href="" routerLink="producEdit" class="btn btn-outline-primary btn-sm  me-2">Product Edit</a>&nbsp; -->


</nav>