<p>databinding works!</p>


<!-- 1. interpolation -->

<strong>{{myName}}</strong>     <br>
<strong>{{100*5}}</strong>      <br>




<!--2. property binding-->

<!-- method-1 -->
<!-- <img src="./images/bb1.jpg" alt="ipl logo" height="300px" width="300px"> -->

<!-- method-2 -->
<img [src]= "imgPath" [alt]= "imgName" height="300px" width="300px">



<br>
<!-- 3. event binding -->
<!-- method-1 -->
<button  type="button" (click)="greeting()"> click me</button>

<br>
<!-- method-2 -->
<button type="button" (click)="greeting1('sankaresh')"> click me !!!</button>


<br>
<!-- 4. two-way binding -->

<input type="text" name="items" [(ngModel)]="inputData"> {{inputData}}







































































































































































